[run]
branch = True
parallel = True
concurrency = multiprocessing
source = packages,lib

[report]
omit =
    */site-packages/*
    */distutils/*
    */dist-packages/*
    /usr/local/lib/python*/*
    */_distutils_hack/*
    */coverage/*
    */setuptools/*

[html]
directory = docs/htmlcov
